<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-auto">
    <p>Please enter your product category</p>
  </div>

  <div class="field category-name">
    <%= form.label :category_name %>
    <p><%= form.text_field :category_name, id: :category_category_name %><p>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-block btn-font"%>
  </div>
<% end %>
